@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second--bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    /* overflow: hidden; */
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    /*font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default; */
	width: 260px;
    height: 40px;
	text-decoration: none;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.logo {
color: var(--main--color);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 40vw;
	border-radius: 50%;
    border: .2rem solid var(--bg-color);
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

/*.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}*/

/* ---------------------- Social Media --------------------- */

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
    display: inline-flex;
    list-style: none;
  }

  .wrapper a{
    text-decoration: none;
    color: var(--main-color);
}

  .wrapper a:hover{
    color: var(--text-color);
  }

  .wrapper .icon {
    position: relative;
    background: transparent;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    padding: 15px;
    margin: 3rem 2rem 3rem 0;
    width: 45px;
    height: 45px;
    font-size: 19px;
    color:var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background:var(--main-color);
    color: var(--main-color);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px var(--main-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--main-color);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon:hover {
    border: transparent;
    box-shadow: 0 0 1rem var(--main-color);
}
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px var(--text-color);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: var(--text-color);
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: var(--text-color);
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: var(--text-color);
  }
  
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background: #0077b5;
    color: var(--text-color);
  }

  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: var(--text-color);
  }
  
  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background: #075E54;
    color:var(--text-color);
  }


  /* ---------------------- Download Button --------------------- */
.cv {
    --background: #275efe;
    --rectangle: #24bfd3;
    --success: #0a8292;
    --text: #323946;
    --arrow: #323946;
    --checkmark: #1f242d;
    --bg-color: #1f242d;
    --second--bg-color: #323946;
    --text-color: #fff;
    --main-color: #00eeff;
    --shadow: rgba(10, 22, 50, .24);
    display: flex;
    overflow: hidden;
    text-decoration:none;
    -webkit-mask-image: -webkit-radial-gradient(rgb(209, 42, 42), black);
    background: var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 2px 8px -1px var(--main-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .cv:active {
    transform: scale(0.95);
    box-shadow: 0 1px 4px -1px var(--shadow);
  }

  .cv ul {
    margin: 0;
    padding: 16px 40px;
    list-style: none;
    text-align: center;
    position: relative;
    -webkit-backface-visibility:
     hidden;
    backface-visibility: hidden;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--bg-color);
  }

  .cv ul li:not(:first-child)
    {
      top: 16px;
      left: 0;
      right: 0;
      position: absolute;
    }

    .cv ul li:nth-child(2) {
      top: 76px;
    }

    .cv ul li:nth-child(3) {
      top: 136px;
    }

    .cv>div {
      position: relative;
      width: 60px;
      height: 60px;
      background: var(--rectangle);
    }

    .cv>div:before,
    .cv>div:after {
      content: "";
      display: block;
      position: absolute;
    }

    .cv>div:before {
      border-radius: 1px;
      width: 2px;
      top: 50%;
      left: 50%;
      height: 17px;
      margin: -9px 0 0 -1px;
      background: var(--arrow);
    }

    .cv>div:after {
      width: 60px;
      height: 60px;
      transform-origin: 50% 0;
      border-radius: 0 0 80% 80%;
      background: var(--success);
      top: 0;
      left: 0;
      transform: scaleY(0);
    }

    .cv>div svg {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      margin: -9px 0 0 -10px;
      fill: none;
      z-index: 1;
      stroke-width: 2px;
      stroke: var(--arrow);
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .cv.loading ul {
      -webkit-animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
      animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
    }

    .cv.loading>div:before {
      -webkit-animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
      animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
    }

    .cv.loading>div:after {
      -webkit-animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
      animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
    }

    .cv.loading>div svg {
      -webkit-animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
      animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
    }

    @-webkit-keyframes text {

        10%,
        85% {
          transform: translateY(-100%);
        }
  
        95%,
        100% {
          transform: translateY(-200%);
        }
      }
  
      @keyframes text {
  
        10%,
        85% {
          transform: translateY(-100%);
        }
  
        95%,
        100% {
          transform: translateY(-200%);
        }
      }
  
      @-webkit-keyframes line {
  
        5%,
        10% {
          transform: translateY(-30px);
        }
  
        40% {
          transform: translateY(-20px);
        }
  
        65% {
          transform: translateY(0);
        }
  
        75%,
        100% {
          transform: translateY(30px);
        }
      }
  
      @keyframes line {
  
        5%,
        10% {
          transform: translateY(-30px);
        }
  
        40% {
          transform: translateY(-20px);
        }
  
        65% {
          transform: translateY(0);
        }
  
        75%,
        100% {
          transform: translateY(30px);
        }
      }
  
      @-webkit-keyframes svg {
  
        0%,
        20% {
          stroke-dasharray: 0;
          stroke-dashoffset: 0;
        }
  
        21%,
        89% {
          stroke-dasharray: 26px;
          stroke-dashoffset: 26px;
          stroke-width: 3px;
          margin: -10px 0 0 -10px;
          stroke: var(--checkmark);
        }
  
        100% {
          stroke-dasharray: 26px;
          stroke-dashoffset: 0;
          margin: -10px 0 0 -10px;
          stroke: var(--checkmark);
        }
  
        12% {
          opacity: 1;
        }
  
        20%,
        89% {
          opacity: 0;
        }
  
        90%,
        100% {
          opacity: 1;
        }
      }
  
      @keyframes svg {
  
        0%,
        20% {
          stroke-dasharray: 0;
          stroke-dashoffset: 0;
        }
  
        21%,
        89% {
          stroke-dasharray: 26px;
          stroke-dashoffset: 26px;
          stroke-width: 3px;
          margin: -10px 0 0 -10px;
          stroke: var(--checkmark);
        }
  
        100% {
          stroke-dasharray: 26px;
          stroke-dashoffset: 0;
          margin: -10px 0 0 -10px;
          stroke: var(--checkmark);
        }
  
        12% {
          opacity: 1;
        }
  
        20%,
        89% {
          opacity: 0;
        }
  
        90%,
        100% {
          opacity: 1;
        }
      }
  
      @-webkit-keyframes background {
        10% {
          transform: scaleY(0);
        }
  
        40% {
          transform: scaleY(0.15);
        }
  
        65% {
          transform: scaleY(0.5);
          border-radius: 0 0 50% 50%;
        }
  
        75% {
          border-radius: 0 0 50% 50%;
        }
  
        90%,
        100% {
          border-radius: 0;
        }
  
        75%,
        100% {
          transform: scaleY(1);
        }
      }
  
      @keyframes background {
        10% {
          transform: scaleY(0);
        }
  
        40% {
          transform: scaleY(0.15);
        }
  
        65% {
          transform: scaleY(0.5);
          border-radius: 0 0 50% 50%;
        }
  
        75% {
          border-radius: 0 0 50% 50%;
        }
  
        90%,
        100% {
          border-radius: 0;
        }
  
        75%,
        100% {
          transform: scaleY(1);
        }
      }

      body .container {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
      }
  
      body .container>div {
        flex-basis: 100%;
        width: 0;
      }
  
      body .container .cv {
        margin: 0;
      }
  
      @media (max-width: 400px) {
        body .container .cv {
          margin: 12px;
        }
      }


/* ---------------------- About 2 --------------------- */
.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: var(--second--bg-color);
    padding-bottom: 6rem;
}

.heading2 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.about-img2 {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img2 img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img2 .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second--bg-color);
    border-bottom: .2rem solid var(--second--bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about2-content {
    text-align: center;
}

.about2-content h3 {
    font-size: 2.6rem;
}

.about2-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn2 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn2:hover {
    color: var(--main-color);
}

.btn-box .btn2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn2:hover::before {
    width: 100%;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second--bg-color);
}

/* ---------------------- Education --------------------- */
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second--bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* ----------------------- Skills ------------------------- */
.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second--bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .5rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 65%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 95%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 77%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 75%;
}

/* ---------------------- Contact US --------------------- */
.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second--bg-color);
    border-radius: .8rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn2 {
    cursor: pointer;
}


/* ---------------------- Bubbly Button --------------------- */
.bubbly-button {
    display: inline-block;
    font-size: 1.8rem;
    padding: 1em 2em;
    margin-top: 40px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--main-color);
    color: var(--second--bg-color);
    font-weight: 600;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 10px var(--main-color);
  }

  .bubbly-button:focus {
    outline: 0;
  }

  .bubbly-button:before,
  .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  .bubbly-button:before {
    display: none;
    top: -100%;
    background-image: radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--main-color) 20%, transparent 30%), radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--main-color) 15%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }

  .bubbly-button:after {
    display: none;
    bottom: -100%;
    background-image: radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--main-color) 15%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%), radial-gradient(circle, var(--main-color) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }

  .bubbly-button:active {
    transform: scale(0.9);
    background-color: var(--main-color);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }

  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }

  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }

  @keyframes topBubbles {
    0% {
      background-position:
        5% 90%, 10% 90%, 10% 90%,
        15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }

    50% {
      background-position:
        0% 80%, 0% 20%, 10% 40%,
        20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }

    100% {
      background-position:
        0% 70%, 0% 10%, 10% 30%,
        20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%,
        0% 0%, 0% 0%, 0% 0%,
        0% 0%, 0% 0%;
    }
  }

  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }



/* --------------------------------- footer---------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second--bg-color);
}

.footer-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second--bg-color);
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .contact {
        max-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 3rem 0;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
